base-color = #a8395c
font-color = #797979
cards-border-color = #ccc
cards-infos-color = #5fbdd5
cards-text-color = #4c4c4c
thumbnail-card-info-icon-color = #7f7e7e
load-more-videos-button-text-color = #797979
load-more-videos-button-color-hover = #797979
load-more-videos-button-text-color-hover = #ffffff
load-more-videos-button-color-active = #737373
dropdown-border-color = #cccccc
input-background = #932d4d


tooltip-border-color = #e6e6e6
tooltip-text-color = #4c4c4c
tooltip-background-color = #ffffff
