@import "variables"

@font-face
	font-family 'ficticia-iconfont'
	src url('fonts/ficticia-iconfont.eot?n8qt8h')
	src url('fonts/ficticia-iconfont.eot?n8qt8h#iefix') format('embedded-opentype'),
		url('fonts/ficticia-iconfont.ttf?n8qt8h') format('truetype'),
		url('fonts/ficticia-iconfont.woff?n8qt8h') format('woff'),
		url('fonts/ficticia-iconfont.svg?n8qt8h#ficticia-iconfont') format('svg')
	font-weight normal
	font-style normal


[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ficticia-iconfont' !important;
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-close
	&:before
		content icon-close
.icon-star
	&:before
		content icon-star
.icon-play
	&:before
		content icon-play
.icon-views
	&:before
		content icon-views
.icon-date
	&:before
		content icon-date

