@import 'nav'

body
  > header
    background base-color
    height header-height
    font-family 'Titillium Web', sans-serif
    position relative
    z-index 1041

    > .container
      line-height header-height

    .logo
      background url('/images/logo.svg')
      width 168px
      height 32px
      vertical-align middle
      display inline-block
